# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: TapTap
version: "0.3.0"
slug: taptap
description: Tigo CCA to HomeAssistant MQTT bridge
url: "https://github.com/litinoveweedle/hassio-addons/tree/main/taptap"
image: "ghcr.io/litinoveweedle/hassio-addon-taptap-{arch}"
homeassistant: 2025.3.1
arch:
  - aarch64
  - amd64
breaking_versions:
  - "0.2.1"
  - "0.3.0"
init: false
uart: true
usb: true
options:
  log_level: info
  mqtt_server: null
  mqtt_port: 1883
  mqtt_qos: 1
  mqtt_timeout: 5
  mqtt_user: null
  mqtt_pass: null
  taptap_port: 502
  taptap_modules: null
  taptap_topic_name: tigo
  taptap_topic_prefix: taptap
  taptap_update: 10
  taptap_timeout: 180
  ha_discovery_prefix: homeassistant
  ha_birth_topic: homeassistant/status
  ha_nodes_availability_online: true
  ha_nodes_availability_identified: false
  ha_strings_availability_online: true
  ha_strings_availability_identified: false
  ha_stats_availability_online: false
  ha_stats_availability_identified: false
  ha_strings_sensors_recorder:
    - energy_daily
  ha_stats_sensors_recorder:
    - energy_daily
schema:
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  mqtt_server: str
  mqtt_port: port
  mqtt_qos: int(0,2)
  mqtt_timeout: int(1,10)
  mqtt_user: str
  mqtt_pass: password
  taptap_serial: device(subsystem=tty)?
  taptap_address: str
  taptap_port: port
  taptap_modules:
    - match(^(\w+)?\:(\w+):([0-9A-Z]\-[0-9A-Z]{7})?$)
  taptap_topic_name: match(^\w+$)
  taptap_topic_prefix: match((\w+)(\/\w+)*)
  taptap_update: int
  taptap_timeout: int
  ha_discovery_prefix: str
  ha_birth_topic: str
  ha_nodes_availability_online: bool
  ha_nodes_availability_identified: bool
  ha_strings_availability_online: bool
  ha_strings_availability_identified: bool
  ha_stats_availability_online: bool
  ha_stats_availability_identified: bool
  ha_nodes_sensors_recorder:
    - match(^\w+$)?
  ha_strings_sensors_recorder:
    - match(^\w+$)?
  ha_stats_sensors_recorder:
    - match(^\w+$)?
